.images{
 background: forestgreen;
    padding: 1rem;
}
img{
    max-width: 100%;
}
.button{
    padding: .9rem 5rem;
    margin: 3rem auto 3;
    display: inline-block;
    text-decoration-color: blue;
    box-shadow: 1px 2px 2px #c4c4c4;
}
.back{
    background-image: url('Projectimages/background%20work.png');
     font-size: 3rem;
     max-width: 800%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14rem;
    color: brown;
    

}
.word{
    font-family:sans-serif;
    text-justify: inter-character;
    text-transform: uppercase;
   
}
@media (min-width: 8rem) {
    .nav__item {
        display:.inline-block;
          
    }